<ion-view view-title="Inicio">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Actividades Recientes</div>
      <div class="item item-body">
        <div>
          <b>Arlenne Rdz</b> actualizo su estado.</div>
          <div> <b>Emmanuel Valdes</b> ha cambiado su foto de perfil.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Salud</div>
      <div class="item item-body">
        <div>
          Come algo saludable hoy!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Notificaciones</div>
      <div class="item item-body">
        <div>
          Tienes <b>5</b> solicitudes de amistad.
        </div>
        <div>
          <b>Emmanuel Valdes</b> te menciono en un comentario.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
